<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541143426473-kg41hp4i5u7votqlosvsv24ugtprl1q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541143426473-kg41hp4i5u7votqlosvsv24ugtprl1q0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>541143426473-nahfkviu9o3qpka7vgdnapro3ih1m38m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbRfDwhAuDAelogC963zih53amg97Y_io</string>
	<key>GCM_SENDER_ID</key>
	<string>541143426473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.universal.fiestamas</string>
	<key>PROJECT_ID</key>
	<string>fiestaki-1</string>
	<key>STORAGE_BUCKET</key>
	<string>fiestaki-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:541143426473:ios:c3f9d15118d732d30e50b8</string>
	<key>DATABASE_URL</key>
	<string>https://fiestaki-1-default-rtdb.firebaseio.com</string>
</dict>
</plist>
