<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.541143426473-2kj4ugk5d1ioh3c4lm3afir2ejbnrpkg</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>WorkSans-Medium.ttf</string>
		<string>WorkSans-SemiBold.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-Black.ttf</string>
		<string>WorkSans-Regular.ttf</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used only when user wants to send an image thru Chat. If not, camera is never used. </string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.universal.fiestamas</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
